{% load static %}

<html>
<head>
<!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css using the same CDN as index.html-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <!--<link rel="stylesheet" type="text/css" href="assets/style.css"/>-->
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
  <nav class="purple darken-3">
    <div class="nav-wrapper container">
      <a href="{% url 'course_list' %}" class="brand-logo">View Courses</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>{% if user.is_authenticated %}
                            Hello, {{ user.username }}.
                            {%  else %}Hi, Anonymous{% endif %}</li>
            {% if user.is_authenticated %}<li><a href="#">Profile</a></li>
            {% else %}<li><a href="{%  url 'loginview' %}">LOG IN</a>{% endif %}
        </ul>
    </div>
  </nav>
  <div class="container" style="margin-top:40px;">

        {% block content %}
        {% endblock %}
  </div>



  <footer class="page-footer purple darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Course Review Web Application</h5>
              <p class="grey-text text-lighten-4"></p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">

          </div>
        </div>
  </footer>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    $(".button-collapse").sideNav();
  });


      document.getElementById('toggle-button').addEventListener('click', function () {
    toggle(document.querySelectorAll('.target'));
});

function toggle (elements, specifiedDisplay) {
  var element, index;

  elements = elements.length ? elements : [elements];
  for (index = 0; index < elements.length; index++) {
    element = elements[index];

    if (isElementHidden(element)) {
      element.style.display = '';

      // If the element is still hidden after removing the inline display
      if (isElementHidden(element)) {
        element.style.display = specifiedDisplay || 'block';
      }
    } else {

      element.style.display = 'none';
    }
  }
  function isElementHidden (element) {
    return window.getComputedStyle(element, null).getPropertyValue('display') === 'none';
  }
}
</script>
</html>
