{% extends 'viewcourse/base.html' %}

{% block content %}
    <div class="row">
      <div class="col m6">

        <h5>Course Detail:</h5>
        <p style="padding-top:5px;"></p>
        <div class="detail">
          <p>{{ detail.university }}</p>
          <p>{{ detail.subject }}</p>
          <p>{{ detail.courseid }}</p>
          <p>{{ detail.coursetitle }}</p>
        </div>
      </div>
      <div class="row" style="margin-top:100px;">
    		<div class="col m3">

            <h5>Professors:</h5>
            <p style="padding-top:5px;"></p>
    		    {% for prof in detail.professors.all %}
            <div class="detail">
              <p><a href="{% url 'rating' pk=detail.pk profid=prof.id %}">{{ prof.full_name }}</a></p>
            </div>
    		    {% empty %}
    		    <p>The list of professors is unknown :(</p>
            <p style="padding-top:5px;"></p>
            {% endfor %}
        </div>

    	  <div class="col m3">

            <h5>Rating:</h5>
            <p style="padding-top:5px;"></p>
    		    {% for prof in detail.professors.all %}
            <div class="detail">
              <p>{{ prof.rating }}</p>
            </div>
    		    {% empty %}
    		    <p>The list of ratings is unknown :(</p>
            <p style="padding-top:5px;"></p>
            {% endfor %}
        </div>
    	</div>
    </div>

  <div class="col m6">
    <h5>Comments: </h5>
    <p style="padding-top:5px;"></p>
    {% if request.session.account_un %}
    <a class="btn btn-default" href="{% url 'comment_new' pk=detail.pk %}">Add comment</a>
    {% else %}
    <a class="btn btn-default" href="{% url 'login' %}">Log In and Comment</a>
    {% endif %}

    {% for comment in detail.comments.all %}
    <p style="padding-top:5px;"></p>
    <div class="comment">
      <div class="date right">{{ comment.published_date }}</div>
      <strong>{{ comment.user }}&nbsp&nbsp&nbsp</strong>
      {% if request.session.account_un %}<a class="material-icons" href="{% url 'agree' pk=detail.pk cid=comment.id %}">thumb_up</a>&nbsp{{ comment.agree }}
      &nbsp&nbsp&nbsp<a class="material-icons" href="{% url 'disagree' pk=detail.pk cid=comment.id %}">thumb_down</a>&nbsp{{ comment.disagree }}
      {% else %}<a class="material-icons" href="{% url 'login' %}">thumb_up</a>&nbsp{{ comment.agree }}
      &nbsp&nbsp&nbsp<a class="material-icons" href="{% url 'login' %}">thumb_down</a>&nbsp{{ comment.disagree }}
      {% endif %}
      <p>{{ comment.commenttext|linebreaks }}</p>
      <hr>
    </div>
    {% empty %}
    <p>No comments here yet :(</p>
    <p style="padding-top:5px;"></p>
    {% endfor %}


  </div>
{% endblock content %}
