{% extends 'viewcourse/base.html' %}

{% block content %}

  <div class="row">
    <div class="col m4">


      <p style="padding-top:5px;"></p>
      <form id="searchform"  method="get" accept-charset="utf-8">

          <select class="form-control" id="university" name="university" required>
          {% for uni in university %}
          <option  value="{{ uni }}"{% if uni == university_pick %}selected="selected"{% endif %}>{{ uni }}</option>
          {% endfor %}
          </select>

          <select class="form-control" id="subject" name="subject">
          {% for sub in subject %}
          <option  value="{{ sub }}"{% if sub == subject_pick %}selected="selected"{% endif %}>{{ sub }}</option>
          {% endfor %}
          </select>

          <input class="searchfield" id="search_handle" name="search_handle" type="text" maxlength="100" placeholder="Enter a Course ID Number">
          <button  type="submit" name="action" class="center waves-effect waves-light btn">Search</button>
      </form>

  </div>
  <div class="col m4">
    {% if collection %}
    <p style="padding-top:5px;"></p>
    <h5 class = "center">{{collection}}</h5>
    <ul class="collection with-header">
    <li class="collection-item">
    <div>
    Featured Course Collection<a href="" class="secondary-content"><i class="material-icons">send</i></a>
    </div>
    </li>
    </ul>
    {% endif  %}
  </div>
      <div class="col m4">
        <p style="padding-top:5px;"></p>

          <h5>Course List:</h5>

             <ul class="collection with-header">
                 {% for course in courses %}
                  <li class="collection-item">
                    <div>
                      {{ course.courseid }}<a href="{% url 'course_detail' pk=course.pk %}" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                  </li>
                 {% endfor %}
             </ul>
             <p style="padding-top:5px;"></p>
      </div>
    </div>
{% endblock content %}
