{% extends 'viewcourse/base.html' %}

{% block content %}
    <div class="row">
      <div class="col m6">

        <h5>Course Detail:</h5>
        <p style="padding-top:5px;"></p>
        <div class="detail">
          <p>{{ detail.subject }}</p>
          <p>{{ detail.courseid }}</p>
          <p>Professor: {{ detail.prof }}</p>
          <p>Average Grade: {{ detail.grade }}</p>
        </div>
      </div>
      <div class="col m6">
        <h5>Comments: </h5>
        <p style="padding-top:5px;"></p>
        {% for comment in detail.comments.all %}
        <div class="comment">
          <div class="date">{{ comment.published_date }}</div>
          <strong>{{ comment.user }}</strong>
          <p>{{ comment.commenttext|linebreaks }}</p>
          <hr>
        </div>
        {% empty %}
        <p>No comments here yet :(</p>
        <p style="padding-top:5px;"></p>
        {% endfor %}
        <a class="btn btn-default" href="{% url 'comment_new' pk=detail.pk %}">Add comment</a>
      </div>
    </div>
{% endblock content %}
