{% extends 'viewcourse/base.html' %}

{% block content %}
<div class="row">
  <div class="col m4">
  </div>

  <div class="col m4">
    <p style="padding-top:20px;"></p>
<ul class="collapsible popout" data-collapsible="accordion">
   <li>
     <div class="collapsible-header active center bold">Login</div>
     <div class="collapsible-body">
       <form method="POST" class="post-form center-align">
       {% csrf_token %}
       {{ form.as_p }}
     <button type="submit" class="save btn btn-default">Submit</button>
   </form>


 <div class="center-btn">
  <a href="{% url 'regist' %}" class="center waves-effect waves-light btn">Register</a>
   </div>
  </div>
   </li>
 </ul>
   </div>
     </div>


{% endblock content %}
